/* ion-content{
  $background: #3880ff;

  --background:"#000000";
} */


ion-card{
  --background:"#3b43be"
}

.bitcoin__logo{
  width:140px;
  height: 140px;
  /* display:block; */
  /* margin:0 auto; */
  color: "#000000";
}

.header_text{
  font-size: 20px;
  color:"#2F4F4F";
}

.refresh_button{
  
        text-align: center;
        background-color:orange;
        height: 50px;
        width: 100px;
        border-radius: 5px;
        /* display: inline-block; */
}